body{
  text-align: center;
  font-family: "shithead";
  background-color: #ecf8ff;
  color: #868686;
}

h2{
  font-size: 50px;
  margin: 0px;
}

.game-container{
  width: 450px;
  height: 400px;
  margin: 0 auto;
}

.game-board{
  width: 110px;
  height: 110px;

  margin: 7px;
  margin-top: 18px;

  display: inline-block;
  vertical-align: top;
  line-height: 100px;

  background-color: white;

  border-radius: 30px;
  box-shadow: 7px 7px 5px -3px #466181;

  font-size: 100px;
}

.game-board:active{
  box-shadow: inset 7px 7px 5px -3px #466181;
}

.restart{

}

.scoreboard{
  width: 600px;
  height: 200px;
  margin: 0 auto;

  position: relative;
  top: 20px;
}

#player1, #player2{
  display: inline-block;
  text-align: center;
  width: 40%;
  height: 140px;
  margin: 10px 10px;
  border-radius: 20px;
  background-color: #fff3f3;

  text-align: center;

  box-shadow: 4px 4px 5px -3px #466181;
}

h3{
  text-align: center;
  font-family: existence;
  margin: 0px;
  vertical-align: bottom;
  display: block;
}

.username{
  width: 130px;
  height: 15px;

  text-align: center;
  font-family: existence;
  border-radius: 20px;
}

.player{
  display: block;
  vertical-align: top;

}

label { display:block; margin: 1em; }
input {
  display: inline-block;
  padding: 0.382em;
  border: none;
  font-family: "IM Fell English", Georgia, "Times New Roman";
  font-size: 16px; 
  font-style: italic; 
  margin: 0;
}

input:focus {
  outline: none;
}

#popup{
  width: 300px;
  height: 350px;
  position: fixed;
  top: 100px;
  left: 100px;

  border-radius: 12px;
  margin: 0 auto;
  background-color: black;
}

input{
  width: 150px;
}

.input{
  text-align: center;
  position: relative;
  top: 45px;

  font-family: "shithead";
  font-size: 15px;

}

h4 {
  font-size: 20px;
  padding: 10px;
  position: relative;
  top: 40px;
}


