<!DOCTYPE html>
<html ng-app="tttApp">

<head>
  <title>tic tac toe</title>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/tttsController.js"></script>
</head>

<body ng-controller="tttsController as ttt">
  <h1>tic tac toe</h1>

<!-- scoreboard display with user name input -->
  <div class="scoreboard">

    <!-- scoreboard left -->
    <section id="player1">
      <h2>Player 1 Wins: {{ttt.scoreBoard.xWins}}</h2>
    </section>

    <!-- scoreboard middle -->
    <section id="ties">
      <h2>Ties: {{ttt.scoreBoard.ties / 8}}</h2>
    </section>

    <!-- scoreboard right -->
    <section id="player2">
      <h2>Player 2 Wins: {{ttt.scoreBoard.oWins}}</h2>    
    </section>

    <h3 id="win-message">{{ ttt.winningMessage }}</h3>

  </div>

<!-- game board with 9 tiles -->
  <div class="game-container">

    <!-- gameboard tiles-->
    <div class="game-board" ng-repeat="boardSquare in ttt.boardSquareList track by $index" ng-model="boardSquare.playerClicked" ng-click="ttt.playerTurn($index)">
      {{ boardSquare.playerClicked }}
    </div>

    <!-- restart button -->
    <div class="restart">
      <button ng-click="ttt.clearBoard()">Play again</button>
    </div>

  </div>

</body>

</html>