<!DOCTYPE html>
<html ng-app="tttApp">
<head>
  <title>tic tac toe</title>

  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  <script src="js/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/tttsController.js"></script>
</head>

<body ng-controller="tttsController as ttt">
  <h2>tic tac toe</h2>

  <h3>{{ ttt.winningMessage }}</h3>
<!--   <div id="popup">
    <h4>Welcome to the game! Please enter your username to begin</h4>
    <input class="input" type="text" placeholder="Enter your username" ng-model="name" /> <br><br>
    <button class="input" ng-click="ttt.playerObj()">Play!</button>
  </div> -->

<!-- ============= game board with 9 tiles ============= -->
  <div class="game-container">
    <div class="game-board" ng-repeat="boardSquare in ttt.boardSquareList track by $index" ng-model="boardSquare.playerClicked" ng-click="ttt.playerTurn($index)">
      {{ boardSquare.playerClicked }}
    </div>
  </div>


<!-- ===== scoreboard display with user name input ======= -->
  <div class="scoreboard">
    <section id="player1">
      <h3 ng-bind="name">Player 1</h3>
      <h5>{#} games won</h5>
    </section>

    <section id="player2">
      <h3 ng-bind="name2">Player 2</h3>   
      <h5>{#} games won</h5> 
    </section>
  </div>

</body>
</html>